
    <div class="form-group">
      <label >Email address</label>
      <input type="email" class="form-control"   placeholder="Enter email">
    </div>
    <div class="form-group">
      <label >Password</label>
      <input type="password" class="form-control"  placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary" routerLink="/profile">Submit</button>
  
  <!-- <router-outlet></router-outlet> -->
  