<button type="button" class="btn btn-primary" (click)="openModal(template)">ADD</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(user)">

                <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="name" [(ngModel)]="user.name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">First Name is required</div>
                        </div>
                       
                    </div>

            
            <div class="form-group">
                <label>Mobile</label>
                <input type="text" class="form-control" [(ngModel)]="user.mobile" placeholder="Enter Mobile Number" formControlName="mobile"
                    [ngClass]="{'is-invalid':submitted && f.mobile.errors }" minlength="10" maxlength="10" pattern="^((\\+91-?)|0)?[0-9]{10}$" (keypress)="restrictNumeric($event)">
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile.errors.required">Please Enter Mobile Number</div>
                    <div *ngIf="f.mobile.errors.minlength">Please Enter 10 digit mobile Number</div>
                </div>
                <!-- <div style="color:red">{{this.mobileError}}</div> -->
            </div>

            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" [(ngModel)]="user.address" placeholder="Enter Address"formControlName="address" [ngClass]="{'is-invalid':submitted && f.address.errors  }">
           <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
               <div *ngIf="f.address.errors.required"> Plaese Enter Address</div>
           </div>
            </div>

            <button type="submit" class="btn btn-primary" *ngIf="!update">Submit</button>
            
            
        </form>
        <button type="submit" class="btn btn-primary" *ngIf="update" (click)="updateUser(user)">Update</button>
    </div>

</ng-template>



<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Firstname</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userDetails;let i=index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.address}}</td>
                <td>{{user.mobile}}</td>
                <td> <button class="btn btn-primary" (click)="editModal(template,user)">Edit</button></td>
                <td> <button class="btn btn-primary" (click)="delete(i)">Delete</button></td>
            </tr>

        </tbody>
    </table>
</div>
